@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: AltoneTrial, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark {
  --color: #ffffffde;
  --background-color: #242424;

  background-color: var(--background-color);
  color: var(--color);
}

@font-face {
  font-family: "AltoneTrial";
  src: url("./assets/fonts/altone-trial/altone-trial.regular.ttf");
}
@font-face {
  font-family: "AltoneTrialOblique";
  src: url("./assets/fonts/altone-trial/altone-trial.oblique.ttf");
  font-style: oblique;
}
@font-face {
  font-family: "AltoneTrialBold";
  src: url("./assets/fonts/altone-trial/altone-trial.bold.ttf");
  font-style: bold;
}
@font-face {
  font-family: "AltoneTrialBoldOblique";
  src: url("./assets/fonts/altone-trial/altone-trial.bold-oblique.ttf");
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
